absl-py
albucore
albumentations
annotated-types
appdirs
apriori
astunparse
atomicwrites
attrs
backports.weakref
blosc2
brotlipy
cachelib
cachetools
check50
coloredlogs
constantly
crypto
cs50
cssselect
Cython
docker-pycreds
EditorConfig
et-xmlfile
Flask-Session
flatbuffers
fonttools
fsspec
fst-pso
FuzzyTM
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
grpcio
h11
h5py
httpcore
httpx
huggingface-hub
humanfriendly
icdiff
inflection
jax
jaxlib
jsbeautifier
jsonpointer
keras
lesscpy
lib50
lit
llvmlite
ml-dtypes
mlxtend
msgspec
munkres
mypy-extensions
Naked
namex
ndindex
nltk
numba
numpy
oauthlib
opencv-contrib-python
opencv-python
opencv-python-headless
openpyxl
opt-einsum
optree
pandas
patsy
pdf2image
pep8
Pillow
ply
preprocessing
protobuf
py4j
pyasn1-modules
pycryptodome
pycurl
pydantic
pydantic_core
PyDispatcher
pyFUME
pygame
pyls-spyder
PyQt5
PyQt5-Qt5
PyQt5_sip
pytesseract
python-lsp-jsonrpc
python-magic
queuelib
requests-oauthlib
rich
rsa
scikit-learn-intelex
sentencepiece
sentry-sdk
setproctitle
shellescape
simpful
simsimd
sip
smmap
sphinx-rtd-theme
sqlparse
stringzilla
style50
submit50
sympy
TBB
tensorboard
tensorboard-data-server
termcolor
tf2onnx
tf_keras
tk
ttkbootstrap
typing_extensions
wandb
webencodings
xgboost
ydf
