absl-py
albucore
albumentations
annotated-types
appdirs
apriori
astunparse
atomicwrites
attrs
backports.weakref
blosc2
brotlipy
cachelib
cachetools
check50
clyent
cmake
coloredlogs
constantly
crypto
cs50
cssselect
Cython
daal4py
datashape
dlib
docker-pycreds
EditorConfig
et-xmlfile
Flask-Session
flatbuffers
fonttools
fsspec
fst-pso
FuzzyTM
gast
gaze-tracking
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
grpcio
h11
h5py
httpcore
httpx
huggingface-hub
humanfriendly
icdiff
inflection
jax
jaxlib
jsbeautifier
jsonpointer
jupyterthemes
kaggle
kagglehub
keras
lesscpy
lib50
libclang
lit
llvmlite
mediapipe
miniful
mkl-service
ml-dtypes
mlxtend
msgspec
munkres
mypy-extensions
Naked
namex
navigator-updater
ndindex
nltk
numba
numpy
nvidia-cublas-cu11
nvidia-cublas-cu12
nvidia-cuda-cupti-cu11
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu11
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu11
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu11
nvidia-cudnn-cu12
nvidia-cufft-cu11
nvidia-cufft-cu12
nvidia-curand-cu11
nvidia-curand-cu12
nvidia-cusolver-cu11
nvidia-cusolver-cu12
nvidia-cusparse-cu11
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu11
nvidia-nvtx-cu12
oauthlib
onnx
onnx-simplifier
onnx2keras
onnxconverter-common
onnxruntime
opencv-contrib-python
opencv-python
opencv-python-headless
opendatasets
openpyxl
opt-einsum
optree
pandas
patsy
pdf2image
pep8
Pillow
ply
preprocessing
protobuf
py4j
pyarrow
pyasn1-modules
pycryptodome
pycurl
pydantic
pydantic_core
PyDispatcher
pyFUME
pygame
pyls-spyder
PyQt5
PyQt5-Qt5
PyQt5_sip
pyspark
pytesseract
python-lsp-jsonrpc
python-magic
queuelib
requests-oauthlib
rich
rsa
scikit-learn-intelex
sentencepiece
sentry-sdk
setproctitle
shellescape
simpful
simsimd
sip
smmap
sounddevice
sphinx-rtd-theme
sqlparse
stringzilla
style50
submit50
sympy
TBB
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
tensorflow_decision_forests
termcolor
tf2onnx
tf_keras
tk
torch
torchaudio
torchinfo
torchvision
triton
ttkbootstrap
typing_extensions
wandb
webencodings
xgboost
ydf
